<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <!--  
  <test name="MercuryTest">
    <classes>
      <class name="test.java.TestsForMercuryTours">
          <methods>
              <include name="testRegisterUser"/>
              <include name="testLogin"/>
          </methods>      
       </class>   
    </classes>
  </test> 
  <test name="AppiumTest">
      <classes>
          <class name="test.java.TestsForAppium">
              <method>
                  <include name="testLinkedInSignIn"/>
				  <include name="testTwo"/> 
              </method>			             
          </class>
      </classes>
  </test>
  -->
  <test name="ConsorPOCAndroid">
      <classes>
          <class name="test.java.TestsForConsorsAndroid">
              <method>
                  <include name="testConsorsAndroidPOC"/>
              </method>			             
          </class>
      </classes>
  </test>
  <test name="ConsorPOCWeb">
      <classes>
          <class name="test.java.TestsForConsorsWeb">
              <method>
                  <include name="testConsorsWebPOC"/>
              </method>			             
          </class>
      </classes>
  </test>
  
</suite> <!-- Suite -->
